:root {
  --color-primary-500: #ff4081;
  --color-primary-600: #c73766;
  --color-primary-700: #922e4c;
  --color-primary-800: #602334;
  --color-primary-900: #32171d;
  --color-primary-light: #581725;
  --white-color : #ffffff;
}

body {
  background: linear-gradient(65deg, var(--color-primary-600),var(--color-primary-700)  ); 
    font-family: Arial, sans-serif;
    padding: 2rem;
    padding-bottom: 1rem;;
  }
  
  header {
    background: linear-gradient(80deg, var(--color-primary-light), var(--color-primary-600) );
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff; /* White link text */
    text-decoration: none;
    padding: 5px;
  }
  
  h1 {
    color: #ffffff; /* Dark pink heading color */
    text-align: center;
    margin-top: 30px;
    text-shadow: 0rem 0.3rem var(--color-primary-light);
  }
  
  h2 {
    color: #ffffff; /* Dark pink heading color */
    text-shadow: 0rem 0.3rem var(--color-primary-light);

  }
  
  #songList li a {
    color: #ff4081; /* Dark pink link text */
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #fff; /* White background for each song item */
  }
  
  button {
    background-color: #ff4081; /* Dark pink button background */
    text-shadow: 0rem 0.3rem var(--color-primary-light);
    color: #fff; /* White button text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #ff80ab; /* Light pink button background on hover */
  }
  
  form {
    margin-top: 20px;
  }
  
  form label {
    display: block;
    color: #ff4081; /* Dark pink label color */
    margin-bottom: 5px;
  }
  
  form input[type="file"] {
    margin-bottom: 10px;
  }
  
  #songCount {
    color: #ff4081; /* Dark pink text color */
    font-weight: bold;
  }
  